* {
  margin: 0 10px;
  font-family: 'poppins';
}
#headerIndex2 {
  background: rgb(34, 34, 32);
  background: linear-gradient(
    90deg,
    rgba(34, 34, 32, 1) 0%,
    rgba(43, 37, 24, 1) 44%
  );
  color: white;
}
#headerIndex2 > nav > ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 20px 5px;
}
#headerIndex2 > nav > ul > li {
  padding: 0px 30px;
}

#headerIndex2 > nav > ul > li > .buttonWorkWithUs {
  padding: 12px 30px;
  background-color: #f7b947;
  border: 1px solid #f7b947;
  border-top-right-radius: 8px;
  color: black;
}
#headerIndex2 > nav > ul > li > .buttonWorkWithUs > p {
  padding-right: 30px;
}
#headerIndex2 > .modernHouse {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
#headerIndex2 > hr {
  color: rgb(153, 151, 151);
}
#sectionForm {
  display: flex;
  justify-content:center;
  margin: 40px 50px 20px ;
}
#sectionForm > .leftImg > img {
  width: 700px;
}
.flexImages{
  display: flex;
  width: 700px;
}
.flexImages > .img{
  width: 14%;
}
#footer {
  background-color: black;
  color: white;
  height: 400px;
}
#footer > .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px 0px;
}
#footer > h3 {
  margin-left: 140px;
  margin-top: 40px;
}
#footer > hr {
  width: 150vh;
  margin: 30px auto;
  background-color: rgb(207, 203, 203);
}
